@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Angka-angka ini penting agar hsl(var(--border)) berfungsi */
    --background: 0 0% 95%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 172 39% 18%;
  }

  * {
    /* Perintah ini yang menyebabkan error jika config di atas tidak benar */
    @apply border-border;
  }
  
  body {
    @apply bg-background text-black font-sans;
  }
}

@layer utilities {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}